{% extends 'base.html' %}
{% block head %}

<title>Index Page</title>

{% endblock %}

{% block body %}

<h2>Students List</h2>

<div class="content">

    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Group</th>
            <th>College Name</th>
        </tr>

        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.age }}</td>
            <td>{{ task.group }}</td>
            <td>{{ task.college_name }}</td>
            <td>
                <a href="/delete/{{ task.id }}">Delete</a>
                <a href="/update/{{ task.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <br><br>

    <form action="/" method="POST">
        <label for="country_code">Full Name:</label>
        <input type="text" name="name" id="name" required placeholder="Full Name"><br><br>
        <label for="country_code">Age:</label>
        <input type="number" name="age" id="age" required placeholder="Age"><br><br>
        <label for="country_code">Group:</label>
        <input type="text" name="group" id="group" required placeholder="Group"><br><br>
        <label for="country_code">College Name:</label>
        <input type="text" name="college_name" id="college_name" required required placeholder="College Name"><br><br>
        <input type="submit" value="Add Student">
    </form>
</div>

{% endblock %}